# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\sphinx4-5prealpha-src\sphinx4-5prealpha-src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
